<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="generalScriptFragment">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="../javascript/framework/popper.min.js"></script>
    <script src="../javascript/framework/bootstrap.min.js"></script>
    <script src="../javascript/framework/swiper.min.js"></script>
    <script src="../javascript/data.js"></script>
    <script src="../javascript/app.js"></script>
    <script src="../javascript/auth.js"></script>
</th:block>

</html>