<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

        <section id="login-section" th:fragment="loginFragment" style="display: none">
                <div class="login-box">
                    <img src="https://media.glassdoor.com/sqll/1687624/hodge-bank-squarelogo-1536314794199.png" class="avatar" alt="Logo Image">
                    <h1>Hodge Bank <br> Event Organizer</h1>
                    <form id="login-form" action="/home">
                        <p>Email</p>
                        <input id="login-email" type="email" value="" placeholder="Email">
                        <input type="submit" value="Log in">
                    </form>
                </div>
        </section>
</html>